html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/doodles.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Shrikhand', cursive;
}
/* main div container allignment */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* set all h1 to sans-serif font */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the menu
 */


.menu {
    width: 600px;
    height: 680px;
    background: #2e3d49;
    font-size: 32;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
/*
 * Styles for the level buttons
 */

.button {
    background-color: #4CAF50;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100px;
    height: 70px;
    margin: 20px;
}
/*
 * allignment for all 3 buttons
 */
.choices{
      text-align: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 600px;
    min-height: 680px;
    background: radial-gradient( #007ac2, #00cc99);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    animation: flip 1.5s;
    cursor: default;

}

.deck .card.show {
    background: #02b4e4;
    font-size: 32px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}
.score-panel .moves {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}
.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
/*
 * Styles for the restart
 */
.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*animation ispired by https://css-tricks.com/almanac/properties/t/transform/
 * had to do some changes and still not 100% sure i like the way it behaves.
*/
@keyframes flip{
  0% {
    transform: rotateY(-180deg);
    background: #2e3d49;
    font-size: 0px;
  }
  100% {
    transform: rotateY(0deg);
    background: #02b4e4;
  }
}
